.container{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    width: 98vw;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
}

.form{
    width: 50%;
    height: 35rem;
    background-color: rgba(128, 128, 128, 0.734);
    border-radius: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.nameD{
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    
}

.name{
    color: white;
    width: 100%;
    height: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divP{
   display: flex;
}

.label{
    margin-left: 0.5rem;
    width: 8rem;
}

.input{
    background-color: #d3436b;
    color: white;
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.input2{
    flex-direction: column; 
}

.inputI{
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.inputT{
    color: white;
    width: 50%;
    height: 5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.p{
    justify-content: center;
    align-items: center;    
    color: red;
    margin-top: -0.7rem;
}

.divUl{
    width: 90%;
}

.ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 8rem;
}

.li{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    background-color: #d3436b;
    color: white;
    height: 1.5rem;
    border-radius: 5px;
    padding: 0.3rem;
}

.boton{
    margin-top: 0.3rem;
    background-color: #d3436b;
    color: white;
    border-radius: 5px;
    height: 2rem;
    width: 5rem;
    margin-bottom: 1rem;
}

.botonX{
    margin-left: 0.5rem;
}